@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&family=Rajdhani&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Protest+Guerrilla&display=swap'); 

.App {
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  background-color: #ffffffa7;
}

.fontClass {
  font-family: "Baloo Chettan 2", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
}


.homeDiv{
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.subTitle {
  margin-top: 1rem;
  height: 5vh; 
  width: 100%;
  animation: onLoad 1s ease-in; 
  animation-iteration-count: 1;
}

@keyframes onLoad {
  0%{
    transform: translateY(3rem);
    opacity: 0;
  }  
  60%{
    transform: translateY(3rem);
    opacity: .3;
  }
  100%{
    transform: translateY(0rem);
    opacity: 1;

  }
}

.homeContent {
  height: 80vh; 
  width: 100%;
  display: flex;

  align-items: flex-start;
  justify-content: center;
}



.homeIntro {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeTitle h3 {
  font-size: 1.6rem;
  color:#A2B575;
  animation: bounce 1s ease;
  animation-iteration-count: 1;

}

.homePhoto {
  width: 15rem;
  height: 30vh;
  background-position: center;
  background-position-x: -7rem;
  background-repeat: no-repeat;
  background-size: 170%;
  border-radius: 100%;
  margin: 0 1rem;
  opacity: .9;
  background-color: rgb(25, 87, 38);
}

.homeIntroWords {
  width: 20%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: 100vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ratingDiv {
  display: flex;
}

.feelingMessage:hover {
  animation: bounce 1s ease;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(-1rem);
  }
  30%{
    transform: translateY(1rem);
  }
  100%{
    transform: translateY(0);
  }
}

.feelingDiv {
  height: 50vh; 
  width: 30rem;
  opacity: .9;
  margin-top: 1rem;
}

.opacity {
animation: opacity 1.5s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
  
}

.yikes {
  width: 100%;
  height: 100%;
  background-image: url("./images/yikes.jpg");
  background-position: center;
  background-size: 100%;
}

.happy {
  width: 100%;
  height: 100%;
  background-image: url("./images/happy.jpg");
  background-position: center;
  background-size: 100%;

}

.okay {
  width: 100%;
  height: 100%;
  background-image: url("./images/okay.jpg");
  background-position: center;
  background-size: 100%;
}

.yikes:hover, .happy:hover, .okay:hover {
  background-size: 120%;
  transition: 1s ease-in-out;
}

.blank {
  background-color: #fff;
}


.reveal {
  position: relative; 
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data {
  width: 90%;
  height: 200vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dataPlay {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.dataPlay a{
  /* text-decoration: none; */
  color:rgba(0, 0, 0, 0.837);
  
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.link a{
  margin: 0 0.5rem;
}

.portfolio {
  width: 100%;
  margin-top: 5rem;

}

.workDiv {
  font-size: 1.3rem;
  font-weight: 300;
}


.workDiv h3 {
  font-size: 2rem;
  color:rgba(15, 64, 31, 0.845);
  animation: bounce 1s ease;
  animation-iteration-count: 1;
  font-family: 'Rubik Mono One', sans-serif;
  }

  .workDiv p {
    margin: .5rem 0;
  }

  .workDiv h4 {
    color:rgba(15, 64, 31, 0.845);
    margin: 0;
  }



.leftShow {
  width: "60rem";
   height: "80vh";
   margin-left: -15rem;
   color:rgba(15, 64, 31, 0.845);
   font-size:1.5rem;
   font-weight: bold;
}

.rightShow {
  width: "40rem";
   height: "70vh";
   font-size:1.5rem;
   color:rgba(15, 64, 31, 0.845);
   margin-left: 12rem;
   font-weight: bold;
}

.budget h3 {
  font-size:1.5rem;
  color:rgba(15, 64, 31, 0.845);
  font-weight: bold;
}

.budget p {
  font-size: 1.2rem;
}

.movieApp {
  margin: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieTitle {
  font-size:1.5rem !important;
  color:rgba(15, 64, 31, 0.845);
  font-weight: bold !important;
}


/* About Page */

.aboutPage {
  height: 250vh;
  width: 100%;
}

.color {
  position: relative; 
  background-color: rgba(20, 21, 23, 0.617);

}

.color.active {
  background-color: #fff;
  transition: 1s ease;
}

.aboutIntro {
  margin-top: 5rem;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutIntro h3 {
  font-size: 1.6rem;
  color:rgba(29, 27, 27, 0.845);
  animation: bounce 1s ease;
  animation-iteration-count: 1;
}

.aboutContent {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.overview p {
  margin: 0.25rem;
}

.overviewContent {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-top: 5rem;

}

.overviewContent li {
  text-decoration: none;
  list-style: none;
  text-align: left;
}

.me {
  width: 50%;
  height: 40vh;
  margin-top: 7rem;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.mePhoto {
  margin: 0 5rem;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background-image: url("./images/IMG_2184.JPG");
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
}

.meContent {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 15rem; 
  height: 20rem;
}

.meContent p {
  text-align: left;
}

.contactButton {
  width: 7rem;
  height: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5%;
  border:1px solid rgba(31, 28, 28, 0.696); 
  background-color: #ffffffde;
  margin-top: 1rem;

}

.contactButton:hover {
  border: 1px solid rgb(25, 138, 225);
}

.meContent p {
  margin: 0;
}

.skills h4 {
  margin: 1rem 2.5rem;
}

.skills1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}


.skills1 ul {
  margin: 0;
}

.end {
  margin-top: 10rem;
}

.catPhoto {
  height: 20rem; 
  width: 30rem;
  background-image: url("./images/clouds.jpg");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
}

.contactButton:hover {
  animation: bounce 1s ease;
}

.aboutButton {
  margin-bottom: 10rem;
  border: 1px solid rgba(18, 48, 18, 0.613);
  font-size: 1rem;
  width: 10rem;
  color: rgb(18, 48, 18);
  font-weight: bold;
}

/*Contact Page*/

.contactContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
}

.formTitle h3 {
  font-size: 1.6rem;
  color:rgba(29, 27, 27, 0.845);
  animation: bounce 1s ease;
  animation-iteration-count: 1;
}

.contactForm {
  margin-top: 4rem;
  width: 40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}


input{
  width: 100%;
  height: 3rem;
  font-size: 1.1rem;
  border: 1px solid rgba(21, 115, 198, 0.689);
  margin: .25rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

textarea {
  width: 90%;
  border: 1px solid rgba(21, 115, 198, 0.689);
  margin: .25rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1.1rem;
}

textarea {
  width: 100%; 
  height: 20vh;
  margin-top: 1rem;
}




input {

}






